
<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>Logged out from <%= current_user.email %>!</h1>
      <p>Thank you for logging out of this demo application.  Please close this window to continue the authentication flow.</p>
      <a href="javascript:window.close();" class="btn btn-primary btn-lg" role="button">Close window</a>
    </div>
  </div>
</div>